.App {
  background: #347CB3;
  background: -webkit-linear-gradient(top left, #347CB3, #9DF9CC);
  background: -moz-linear-gradient(top left, #347CB3, #9DF9CC);
  background: linear-gradient(to bottom right, #347CB3, #9DF9CC);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
